name: Github Actions Workflow

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Docker Compose
        run: |
          sudo apt-get update
          sudo apt-get install -y docker-compose

      - name: Build Docker Images
        run: docker-compose up -d --build

    # - name: Add some tests
    #   run: ...

      - name: Prepare report folders
        run: mkdir -p reports sboms
      
    # Trivy Setup and artifact upload

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@0.22.0
        with:
          image-ref: edgeupdate_backend
          format: 'json'
          output: 'reports/trivy-backend.json'
          severity: 'CRITICAL,HIGH'
          exit-code: '0'
  
      - name: Upload Trivy reports
        uses: actions/upload-artifact@v4
        with:
          name: trivy-reports
          path: reports/

      # Syft Setup and artifact upload

      - name: Generate SBOM with Syft
        uses: anchore/syft-action@v0.15.0
        with:
          image: edgeupdate_backend
          output: sboms/sbom-backend.json
          format: json

      - name: Upload SBOMs
        uses: actions/upload-artifact@v4
        with:
          name: sbom-reports
          path: sboms/


      - name: Deploy / OTA simulation
        run: |
          docker-compose down
          docker-compose up -d --build
